# ============================================================
# PlatformIO
# ============================================================
.pio/
# ============================================================
# Visual Studio Code
# ============================================================
.vscode/
# ============================================================
# Fichiers sensibles
# ============================================================
include/Secrets.h
# ============================================================
# Fichiers système
# ============================================================
.DS_Store
Thumbs.db
# ============================================================
# Fichiers temporaires
# ============================================================
*.tmp
*.log